/node_modules
/public/hot
/public/storage
/public/data
/public/videos
/public/data/*
/storage/*.key
/vendor
/.idea
.env
composer.lock
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
