/*TVT Color classes for the gradients, provided by Lee Design
For details see the shineBootstrap Amended file
*/
/*85 degrees R228 - R205 / G228 - G203 /B228 - B202*/
.light_grey_gradient,
.light_grey_gradient_nav .active a,
.light_grey_gradient_nav .active a:hover {
    background: #e4e4e4; /* Old browsers */
    background: -moz-linear-gradient(85deg, #e4e4e4 1%, #cdcbca 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(1%, #e4e4e4), color-stop(100%, #cdcbca)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(85deg, #e4e4e4 1%, #cdcbca 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(85deg, #e4e4e4 1%, #cdcbca 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(85deg, #e4e4e4 1%, #cdcbca 100%); /* IE10+ */
    background: linear-gradient(85deg, #e4e4e4 1%, #cdcbca 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#cdcbca', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

/*
85 degrees R208 - R64/  G210 - G64 / B211 - B65*/
.dark_grey_gradient,
.dark_grey_gradient_nav .active a,
.dark_grey_gradient_nav .active a:hover {
    background: #D0D2D3; /* Old browsers */
    background: -moz-linear-gradient(85deg, #D0D2D3 1%, #404041 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(1%, #D0D2D3), color-stop(100%, #404041)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(85deg, #D0D2D3 1%, #404041 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(85deg, #D0D2D3 1%, #404041 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(85deg, #D0D2D3 1%, #404041 100%); /* IE10+ */
    background: linear-gradient(85deg, #D0D2D3 1%, #404041 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D0D2D3', endColorstr='#404041', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}
.light_grey_gradient {
    font-size: 14px !important;
}
/*85 degrees R238 - R190 / G68 - G30 /B47 - B45*/
span.badge.red,
.red_gradient,
.red_gradient_nav .active a,
.red_gradient_nav .active a:hover {
    background: #EE442F; /* Old browsers */
    background: -moz-linear-gradient(85deg, #EE442F 1%, #BE1E2D 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(1%, #EE442F), color-stop(100%, #BE1E2D)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(85deg, #EE442F 1%, #BE1E2D 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(85deg, #EE442F 1%, #BE1E2D 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(85deg, #EE442F 1%, #BE1E2D 100%); /* IE10+ */
    background: linear-gradient(85deg, #EE442F 1%, #BE1E2D 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EE442F', endColorstr='#BE1E2D', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

/*85 degrees R38 - R43/ G169 - G56 /B224 - B143*/
.light_blue_gradient,
.light_blue_gradient_nav .active a,
.light_blue_gradient_nav .active a:hover {
    background: #26A9E0; /* Old browsers */
    background: -moz-linear-gradient(85deg, #26A9E0 1%, #2B388F 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(1%, #26A9E0), color-stop(100%, #2B388F)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(85deg, #26A9E0 1%, #2B388F 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(85deg, #26A9E0 1%, #2B388F 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(85deg, #26A9E0 1%, #2B388F 100%); /* IE10+ */
    background: linear-gradient(85deg, #26A9E0 1%, #2B388F 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#26A9E0', endColorstr='#2B388F', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

/*85 degrees R250 - R240 / G175 - G90 /B64 - B40*/
span.badge.orange,
.orange_gradient,
.orange_gradient_nav .active a,
.orange_gradient_nav .active a:hover {
    background: #FAAF40; /* Old browsers */
    background: -moz-linear-gradient(85deg, #FAAF40 1%, #F05A28 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(1%, #FAAF40), color-stop(100%, #F05A28)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(85deg, #FAAF40 1%, #F05A28 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(85deg, #FAAF40 1%, #F05A28 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(85deg, #FAAF40 1%, #F05A28 100%); /* IE10+ */
    background: linear-gradient(85deg, #FAAF40 1%, #F05A28 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAAF40', endColorstr='#F05A28', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

/*85 degrees R195 - R96/G153 - G56/B107 - B19*/
span.badge.brown,
.brown_gradient,
.brown_gradient_nav .active a,
.brown_gradient_nav .active a:hover {
    background: #C3996B; /* Old browsers */
    background: -moz-linear-gradient(85deg, #C3996B 1%, #603813 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(1%, #C3996B), color-stop(100%, #603813)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(85deg, #C3996B 1%, #603813 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(85deg, #C3996B 1%, #603813 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(85deg, #C3996B 1%, #603813 100%); /* IE10+ */
    background: linear-gradient(85deg, #C3996B 1%, #603813 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C3996B', endColorstr='#603813', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

/*85 degrees R214 - R0 /G222 - G147/B35 - B69*/
span.badge.green,
.green_gradient,
.green_gradient_nav .active a,
.green_gradient_nav .active a:hover {
    background: #D6DE23; /* Old browsers */
    background: -moz-linear-gradient(85deg, #D6DE23 1%, #009345 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(1%, #D6DE23), color-stop(100%, #009345)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(85deg, #D6DE23 1%, #009345 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(85deg, #D6DE23 1%, #009345 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(85deg, #D6DE23 1%, #009345 100%); /* IE10+ */
    background: linear-gradient(85deg, #D6DE23 1%, #009345 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D6DE23', endColorstr='#009345', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

/* TVT Note: need to check the color
85 degrees R249 - R255 / G236 - G241 / B249 - B0
*/
span.badge.yellow,
.yellow_gradient,
.yellow_gradient_nav .active a,
.yellow_gradient_nav .active a:hover {
    background: #F9EC08; /* Old browsers */
    background: -moz-linear-gradient(85deg, #F9EC08 1%, #FFF100 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(1%, #F9EC08), color-stop(100%, #FFF100)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(85deg, #F9EC08 1%, #FFF100 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(85deg, #F9EC08 1%, #FFF100 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(85deg, #F9EC08 1%, #FFF100 100%); /* IE10+ */
    background: linear-gradient(85deg, #F9EC08 1%, #FFF100 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9EC08', endColorstr='#FFF100', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

span.badge.purple,
.purple_gradient,
.purple_gradient_nav .active a,
.purple_gradient_nav .active a:hover {
    background: #914B9D; /* Old browsers */
    background: -moz-linear-gradient(85deg, #914B9D 1%, #FA27A6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(1%, #914B9D), color-stop(100%, #FA27A6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(85deg, #914B9D 1%, #FA27A6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(85deg, #914B9D 1%, #FA27A6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(85deg, #914B9D 1%, #FA27A6 100%); /* IE10+ */
    background: linear-gradient(85deg, #914B9D 1%, #FA27A6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#914B9D', endColorstr='#FA27A6', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

/*R146-G148-B151*/
.light_grey {
    background: #929497;
}

/*R109-G110-B112*/
.grey {
    background: #6D6E70;
}

/*R88-G89-B91*/
.dark_grey {
    background: #58595B;
}

/*R190-G30-B45*/
.red {
    background: #BE1E2D;
}

.red_alpha50 {
    background: #fad7d5;
}

/*R43-G56-B143*/
.blue {
    background: #2B388F;
}

.blue_alpha50 {
    background: #dfeef5;
}

.light_blue_alpha50 {
    background: #dfeef5;
}

/*R240-G90-B40*/
.orange {
    background: #F05A28;
}

.orange_alpha50 {
    background: #f9e6c5;
}

/*#ffc40d*/
.yellow {
    background: #ffc40d;
    color:#000 !important;
}

.red_text {
    color: #EE442F;
}

.orange_text {
    color: #FAAF40;
}

.blue_text {
    color: #26A9E0;
}

.green_text {
    color: #008000;
}

.black_border {
    border: 1px solid #444;
}

.white_text {
    color: #fff;
}

.black_text,
.nav-pills > li > a {
    color: #444;
}

.bread_light_blue {
    background-color: #d4e9f5 !important;
}

.btn_long_size {
    width: 70px;
}

a.btn_long_size {
    width: 50px;
}

.div_float_left {
    float: left;
}

/*------------------------------------------------------------------------------------------------------------------------------------------*/
/*End of color */

/*TVT to add hr space between rows or fields */
hr {
    background: #ddd;
    color: #ddd;
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
    margin: 0 0 17px;
    border: none;
}

hr.space {
    background: #fff;
    color: #fff;
    visibility: hidden;
}

/*end of hr */
